.main {
    display: flex;
    justify-content: center;
}

.bellepolice {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "System Default", sans-serif;
}

body {
    background-color: #3898ec;
}

#gros {
    font-size: 60px;
}

#moyentexte {
    font-size: 30px;
}

#petitlien {
    font-size: 20px;
}

.retour {
    top: 10px;
    left: 10px;
    position: fixed;
}

.laflexboxdesliens {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 258px;
    align-items: center;
    flex-wrap: wrap;
}

.laflexboxdesimagesmaisecrets {
    border: 8px solid black;
    display: flex;
    min-height: 500px;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

#mercigithub {
    top: 10px;
    right: 10px;
    position: fixed;
}

#emo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageliens {
    height: 128px;
    width: 128px;
}

.imagesecret {
    max-width: 250px;
}